.global {

    border: 2px solid green;
    border-radius: 5px;
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 4%;
}
body{


    background-color: rgb(214, 245, 246);
}
#pres{

    text-align: justify;
}
#alerte{

    visibility: hidden;
}